<%= form_tag "/users" %>
  <label for="username">Username</label>
  <%= text_field_tag "user[username]" %>
  <label for="email">Email</label>
  <%= email_field_tag "user[email]" %>
  <label for="password">Password</label>
  <%= password_field_tag name="user[password]" %>
  <%= submit_tag "Create User" %>
</form>